testVids/boring.mp4
testVids/CSCI3308_100_DUANG1B20_4_10_2019.mp4
testVids/depressedLecture.mp4
testVids/JT-Yanking.mp4
testVids/KP-RetiredMil.mp4
testVids/LieTest.mp4
testVids/Neature.mp4
testVids/subLectureTest.mp4
testVids/sub-TMG-Podcast.mp4
testVids/TMG-Podcast.mp4
drive
tempVideos/0000-silence.mp4
tempVideos/0001-norm.mp4
tempVideos/0002-silence.mp4
tempVideos/0003-norm.mp4
tempVideos/0004-silence.mp4
tempVideos/0005-norm.mp4
tempVideos/0006-silence.mp4
tempVideos/0007-norm.mp4
tempVideos/0008-silence.mp4
tempVideos/0009-norm.mp4
tempVideos/0010-silence.mp4
tempVideos/0011-norm.mp4
tempVideos/0012-silence.mp4
tempVideos/0013-norm.mp4
tempVideos/0014-silence.mp4
tempVideos/0015-norm.mp4
tempVideos/0016-silence.mp4
tempVideos/0017-norm.mp4
tempVideos/0018-silence.mp4
tempVideos/0019-norm.mp4
tempVideos/0020-silence.mp4
tempVideos/0021-norm.mp4
tempVideos/0022-silence.mp4
tempVideos/0023-norm.mp4
tempVideos/0024-silence.mp4
tempVideos/0025-norm.mp4
tempVideos/0026-silence.mp4
tempVideos/0027-norm.mp4
tempVideos/0028-silence.mp4
tempVideos/0029-norm.mp4
tempVideos/0030-silence.mp4
tempVideos/0031-norm.mp4
tempVideos/0032-silence.mp4
tempVideos/0033-norm.mp4
tempVideos/0034-silence.mp4
tempVideos/0035-norm.mp4
tempVideos/0036-silence.mp4
tempVideos/0037-norm.mp4
tempVideos/0038-silence.mp4
tempVideos/0039-norm.mp4
tempVideos/0040-silence.mp4
tempVideos/0041-norm.mp4
tempVideos/0042-silence.mp4
tempVideos/0043-norm.mp4
tempVideos/0044-silence.mp4
tempVideos/0045-norm.mp4
tempVideos/0046-silence.mp4
tempVideos/0047-norm.mp4
tempVideos/0048-silence.mp4
tempVideos/0049-norm.mp4
tempVideos/0050-silence.mp4
tempVideos/0051-norm.mp4
tempVideos/0052-silence.mp4
tempVideos/0053-norm.mp4
tempVideos/0054-silence.mp4
tempVideos/0055-norm.mp4
tempVideos/0056-silence.mp4
tempVideos/0057-norm.mp4
tempVideos/0058-silence.mp4
tempVideos/0059-norm.mp4
tempVideos/0060-silence.mp4
tempVideos/0061-norm.mp4
tempVideos/0062-silence.mp4
tempVideos/0063-norm.mp4
tempVideos/0064-silence.mp4
tempVideos/0065-norm.mp4
tempVideos/0066-silence.mp4
tempVideos/0067-norm.mp4
tempVideos/0068-silence.mp4
tempVideos/0069-norm.mp4
tempVideos/0070-silence.mp4
tempVideos/0071-norm.mp4
tempVideos/0072-silence.mp4
tempVideos/0073-norm.mp4
tempVideos/0074-silence.mp4
tempVideos/0075-norm.mp4
tempVideos/0076-silence.mp4
tempVideos/0077-norm.mp4
tempVideos/0078-silence.mp4
tempVideos/0079-norm.mp4
tempVideos/0080-silence.mp4
tempVideos/0081-norm.mp4
tempVideos/0082-silence.mp4
tempVideos/0083-norm.mp4
tempVideos/0084-silence.mp4
15Lie.mp4
LieTest-normalized-final.mp4
